<nav class="navbar bg-primary navbar-expand-lg rounded-pill m-3">
    <div class="container-fluid">
      <a class="navbar-brand" >Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav nav-underline">
          <a class="nav-link active" aria-current="page" href="/Directives">Directives</a>
          <a class="nav-link " href="/Parent"  >Parent</a>
          <a class="nav-link " href="/Pipes"  >Pipes</a>
          <a class="nav-link " href="/Child">Child</a>
          <a class="nav-link " href="/form">form</a>
          <a class="nav-link" href="/viewchild">View Child</a>
          <a class="nav-link" href="/user">User Data</a>
          <!-- <button type="button" class="btn" (click)="navtoForm()" routerLink="/form">navtoForm</button> -->

        </div>
      </div>
    </div>
  </nav>
